/* FORMATAÇÕES GERAIS */

*{
	margin: 0;
	padding: 0;
	color: #CEDFD9;
}

body{
	margin: 0;
	size: auto;
	background-color: #CEDFD9; 
}

/* FORMATAÇÕES DE TAGS GERAIS */
nav{
	height: 20px;
	background-color: #8332AC;
	clear: both;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

/* ID'S DE LAYOUT */

#clear{
	clear: both;
}

#corpo{
	background-image: url("../images/bg_content.png");
	background-attachment: fixed;
	padding-top: 5%;
	height: 100%; 
}

#cabecalho li{
	list-style: none;
	float: left;
	width: 4%;
}

#logo_footer{
	width: 85%;
	margin-left: 3%;
	margin-right: 80%;
}

#titulo{
	color: #CEDFD9;
	text-align: center;
	font-family: 'Train One', cursive;
	font-size: 3em;
	letter-spacing: 20px;
	margin-bottom: 2%;
}

#logo_big{
	background-image: url("images/taskify_logo.png");
	background-position: center;
	background-repeat: no-repeat;
}

#main{
	display: flex;
	width: 100%;
	
}

#main nav{
	height: 50px;
	width: 100%;
	margin: 0;
	background-color: #8332AC;
}

#main ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#user_pannel{
	margin-top: 5%;
	width: 20%;
	height: 500px;
	background-color: #631c87;
	float: right;
	border-radius: 50px;
}

#painel_principal{
	color: #8332AC;
	width: 75%;
	height: 2000px;
	margin: auto;
	margin-top: 5%;
	padding: 5% 0;
	background-color: #CEDFD9;
	border-radius: 20px;
	border: 1px solid black;
}

/* CLASSES DA PÁGINA */

.subtitle{
	font-style: italic;
	color: #CEDFD9;
	text-align: center;
	font-weight: bold;
}

.painel{	
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background-image: url("../images/bg_footer.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #0C1713;
	border-bottom: 10px solid #8332AC;
}

.painel_mids{
	width: 100%;
	padding-top: 0;
	display: flex;
	align-items: center;
	align-content: space-around;
	justify-content: center;
}

.painel_mids li{
	padding: 20px 0 20px 0;
	width: 30%;
	margin-right: 20px;
	background-color: #8332AC; 
	border-radius: 20px;
	text-align: center;
}

.roboto{
	font-family: 'Roboto Mono', monospace;
}

.login{
	line-height: 190px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
}

.login span{
	font-weight: bold;
	position: relative;
	bottom: 70px;
}

.b_apresentative{
	font-family: 'Roboto Mono', monospace;
	width: 40%;
	height: 20%;
	border-radius: 20px;
	color: #CEDFD9;
	background-color: #631c87;
	border: none;
}

.b_apresentative:hover{
	transform: scale(1.1,1.1);
	transition-duration: 0.2s;
}

.nav_icon{
	height: 50px;
}

